@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*
//////////////////////////////////////////
INICIO NAV BAR
//////////////////////////////////////////
*/

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    background-color: #100B00;
    padding: 20px 0 20px 0;
    font-size: 22px;
    border: none;
    border-width: 0;
    height: 80px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    display: inline-block;
    margin: auto 40px;
}

nav ul li a{
    color: #F5F5F5;
}

#tabActual {
    font-weight: 800;
    font-size: 24px;
}

#navIzquierda{
    width: 15%;
    float: left;
    text-align: center;
    padding-left: 70px;
}

#navIzquierda a{
    color: #F5F5F5;
    font-size: 25px;
}

#navCentro{
    float: left;
    width: 70%;
    padding-top: 25px;
}


#navCentro ul li a:hover{
    font-weight: 800;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

#navDerecha{
    float: right;
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navDerecha a{
    color: #F5F5F5;
    padding: 0px 20px;
}

#cerrarSesion {
    font-size: 16px;
}

#imgPerfil{
    width: 54px;
}

/*
///////////////////////////////////////////
FIN NAV BAR
//////////////////////////////////////////
*/

/*
//////////////////////////////////////////
INICIO MAIN
//////////////////////////////////////////
*/

body{
    background-image: url(../img/jirasin-yossri-W_29nYyiIpA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    width: 100%;
}

header{
    width: 100%;
    height: 80px;
}

.ocultar {
    display: none;
}

/* ///////////////////////////// */
h1 {
    font-size: 30px;
    text-align: center;
    color: #F5F5F5;
    position: relative;
    top: 50px;
}

table, td {
    border: none;
    text-align: center;
    margin: auto;
    color: #100B00;
    font-weight: 500;
}

th{
    position: sticky;
    top: 0;
    background-color: rgb(183, 180, 191);
}

td, th{
    padding: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blurry(15%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#listaBitacoras {
    width: 100%;
    height: 90vh;
}


#contenedorListaBitacoras {
    width: 80%;
    height: 60%;
    margin: 80px auto;
    overflow-y: scroll;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#contenedorListaBitacoras::-webkit-scrollbar {
    display: none;

}

#botonesActivos {
    border: none;
    border-width: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    padding: 40px 0 40px 0;
}

#botonesActivos button {
    outline: none;
    width: 160px;
    height:50px;
    border-radius: 10px;
    background-color: #7F167F;
    color: #F5F5F5;
    margin: 0 30px;
}


.inputError {
    border: 2px solid #D70040;
    background-color: #ffcccb;
}
.ocultar {
    display: none;
}

#filtrar{
    display: flex;
    justify-content: end;
    margin-right: 10%;
    font-size: 20px;
    color: #F5F5F5;
}

.filtrarBitacora{
    margin-left: 1%;
}